{% extends "layout.html" %}

{% block title %}
    Stock-graph
{% endblock %}

{% block main %}
<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <p class="card-text"><b>Closing price against time:</b></p>
               <div id="chart" class="chart">
                </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <p class="card-text"><b>Volume traded against time:</b></p>
               <div id="chart1" class="chart">
                </div>
        </div>
      </div>
    </div>

    </div>

  </section>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">

  var graphs = {{ graphJSON | safe }};
  var config = {responsive: true}

  Plotly.plot('chart',graphs, config, {});

  </script>

  <script type="text/javascript">

  var graphs1 = {{ graphJSON1 | safe }};
  var config = {responsive: true}

  Plotly.plot('chart1',graphs1, config, {});

  </script>
{% endblock %}

